<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Logo"
    src="http://img2.3png.com/bdcb9e43f0c71e4a0e703485775ba8a43f1d.png"
  />
  <span>Ren home</span>
</div>
<br><br><br>

<input type="hidden" #selection>

<div class="card-container" *ngIf="selection.value == ''">
  <button class="card card-small" (click)="selection.value = 'Calculation'">
    <span>Calculation</span>
  </button>
  <button class="card card-small" (click)="selection.value = 'exchange_rate'">
    <span>匯率</span>
  </button>
  <button class="card card-small" (click)="selection.value = 'unit_conversion'">
    <span>單位換算</span>
  </button>
</div>

<app-heroes *ngIf="selection.value == 'Calculation'"></app-heroes>

<div style="text-align:center;" *ngIf="selection.value == 'exchange_rate'"><h1>尚未啟用</h1></div><br>
<!-- <app-heroes *ngIf="selection.value == 'exchange_rate'"></app-heroes> -->

<app-exchange-rate *ngIf="selection.value == 'unit_conversion'"></app-exchange-rate>