<!-- <p>firstnum:{{firstnum}}</p>
<p>secondnum:{{secondnum}}</p>
<p>addSymbols:{{symbols}}</p> -->

<div style="text-align:center;" ><h1>Calculation</h1></div><br>

<div class="terminal"  >
  <pre>{{display}}</pre>
</div>
<div class="card-container">
    <button class="card card-small" (click)="addNum('7')" tabindex="0" >
      <svg class="material-icons" width="12" height="12" viewBox="0 0 24 24"></svg>
      <span>7</span>
    </button>
    <button class="card card-small" (click)="addNum('8')" >
      <svg class="material-icons" width="12" height="12" viewBox="0 0 24 24"></svg>
      <span>8</span>
    </button>
    <button class="card card-small" (click)="addNum('9')" >
      <svg class="material-icons" width="12" height="12" viewBox="0 0 24 24"></svg>
      <span>9</span>
    </button>
    <button class="card card-small" (click)="addSymbol('+')" >
      <svg class="material-icons" width="12" height="12" viewBox="0 0 24 24"></svg>
      <span>+</span>
    </button>
    <button class="card card-small" (click)="backSpace()" >
      <svg class="material-icons" width="12" height="12" viewBox="0 0 24 24"></svg>
      <span>←</span>
    </button>
</div>
<div class="card-container">    
    <button class="card card-small" (click)="addNum('4')" >
      <svg class="material-icons" width="12" height="12" viewBox="0 0 24 24"></svg>
      <span>4</span>
    </button>
    <button class="card card-small" (click)="addNum('5')">
      <svg class="material-icons" width="12" height="12" viewBox="0 0 24 24"></svg>
      <span>5</span>
    </button>
    <button class="card card-small" (click)="addNum('6')">
      <svg class="material-icons" width="12" height="12" viewBox="0 0 24 24"></svg>
      <span>6</span>
    </button>
    <button class="card card-small" (click)="addSymbol('-')">
      <svg class="material-icons" width="12" height="12" viewBox="0 0 24 24"></svg>
      <span>-</span>
    </button>
    <button class="card card-small" (click)="addSymbol('C')" >
      <svg class="material-icons" width="12" height="12" viewBox="0 0 24 24"></svg>
      <span>C</span>
    </button>
</div>
<div class="card-container">
    <button class="card card-small" (click)="addNum('1')">
      <svg class="material-icons" width="12" height="12" viewBox="0 0 24 24"></svg>
      <span>1</span>
    </button>
    <button class="card card-small" (click)="addNum('2')">
      <svg class="material-icons" width="12" height="12" viewBox="0 0 24 24"></svg>
      <span>2</span>
    </button>    
    <button class="card card-small" (click)="addNum('3')">
      <svg class="material-icons" width="12" height="12" viewBox="0 0 24 24"></svg>
      <span>3</span>
    </button>
    <button class="card card-small" (click)="addSymbol('×')">
      <svg class="material-icons" width="12" height="12" viewBox="0 0 24 24"></svg>
      <span>×</span>
    </button>
    <button class="card card-small" (click)="addSymbol('%')" >
      <svg class="material-icons" width="12" height="12" viewBox="0 0 24 24"></svg>
      <span>%</span>
    </button>
</div>
<div class="card-container">
    <button class="card card-small" (click)="addNum('.')">
      <svg class="material-icons" width="12" height="12" viewBox="0 0 24 24"></svg>
      <span>.</span>
    </button>
    <br>  
    <button class="card card-small" (click)="addNum('0')" >
      <svg class="material-icons" width="12" height="12" viewBox="0 0 24 24"></svg>
      <span>0</span>
    </button>
    <button class="card card-small" (click)="doCount(); symbols = '';">
      <svg class="material-icons" width="12" height="12" viewBox="0 0 24 24"></svg>
      <span>=</span>
    </button>
    <button class="card card-small" (click)="addSymbol('÷')">
      <svg class="material-icons" width="12" height="12" viewBox="0 0 24 24"></svg>
      <span>÷</span>
    </button>
    <button class="card card-small" (click)="doSign_bit()" >
      <svg class="material-icons" width="12" height="12" viewBox="0 0 24 24"></svg>
      <span>+/-</span>
    </button>
  </div>

<div>
  <button class="card card-small"  (click)="goBack()">
    <svg class="material-icons" width="12" height="12" viewBox="0 0 24 24"></svg>
    <span>返回</span>
  </button>
</div>